.yellow{
    color: yellow;
    font-weight: bold;
}
.orange{
    color: orange;
    font-weight: bold;
}
.blue{
    color: blue;
    font-weight: bold;
}

.background-primary{
    background-color: #17152D;
}

.background-secundary{
    background-color: #0d0c1a;
}

a:hover .card{
    opacity: 0.9;
    transform: scale(1.02);
    transition: all 0.3s;
  }